<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Book Rack</h1>
    <nav>
        <ul class="books">
            <% for(let i=0; i<books.length; i++) { %> 
                <li>
                <a href="/books/<%= i %>"><%= books[i].title%></a> <br/>
                <a href="/books/<%=i; %>/edit">Edit</a> 
                <form action="/books/<%=i;%>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE"/>
                </form>
                
                </li>
            <% } %>
        </ul>
    </nav>
    <nav>
        <a href="/books/new">Add New Book</a>
    </nav>
</body>
</html>