body {
    color:red;
    background-color:lightyellow;

  }
h1 {
    text-align: center;
    padding-bottom: 2rem;
}
.container1 {
    text-align: center;
}

.container2 {
    text-align: left;
}

.container3{
    text-align: right;
}