
body {
background-color:lightgreen;

}

/* .container {
    display: flex;
    text-align: center;
} */

h1{
    text-align: center;
    padding-bottom: 2rem;
}
.show1{
    text-align: center;
}


#pic {
 height: 300px;
 width: 200px;
}