<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <h1>Reader Login Page</h1>

    <form action="/readers/login" method="POST">
        Username:<input type="text" name="username"> <br>
        Password:<input type="text" name="password"> <br> <br>
        <input type="submit" value="Login">
    </form>

</body>
</html> 